

.nav-logo {
  height: 70px;
  width: 70px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}
  

.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: auto;
    background-color: #3d3d3e;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    

}

.nav-link {
    color: #FFF;
    text-decoration: none;
    margin: 0;
    font-weight: 600;
}

.nav-link:hover {
    text-decoration-line: underline;
}

/* Glow buttons recovered from: 
https://codepen.io/kocsten
*/

.glow-on-hover {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #3d3d3e;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #383838
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #262627;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
